<div tabindex="0" class="fixed z-10 w-full h-full" aria-busy="true" aria-label="Loading" style="">
  <div class="bg-gray-300 bg-opacity-25 flex w-full h-full justify-center items-center" style="backdrop-filter: blur(2px);">
    <svg viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" width="64" height="64" stroke="#000">
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(1 1)" stroke-width="2">
          <circle stroke-opacity=".25" cx="18" cy="18" r="18"></circle>
          <path d="M36 18c0-9.94-8.06-18-18-18">
            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.8s"
                              repeatCount="indefinite"></animateTransform>
          </path>
        </g>
      </g>
    </svg>
  </div>
</div>
